**/*.bin
**/vivado*.*
**/*.vhd
**/*.v
**/simWorkspace
**/target
**/tmp
**/.idea
**/*.log
**/*.aux
**/*.bbl
**/*.blg
**/*.pdf
**/*.lof
**/*.out
**/*.gz
**/*.toc
**/*.xml
**/*.bcf
**/_minted*
**/flow
**/gen
**/build
**/*.pdf
**/Quartus
**/*.vcd
